@media all and (max-width: 1024px) {
  article img {
    width: 100%;
  }
  section img {
    width: 100%;
  }
  section {
    overflow: visible;
  }
}

@media all and (max-width: 1440px) {
  .sidebar {
    display: none;
  }
  article {
    width: 100%;
  }
  section {
    width: 100%;
  }
  li {
    width: 100%;
  }
}

/* адаптив для планшета, вертикальный поворот */
@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  article > * {
    width: calc(100% - 40px);
  }
  section h1,
  section p {
    width: calc(100% - 40px);
    margin: 20px auto;
  }
}
/* адаптив для телефона */
@media all and (min-device-width: 320px) and (max-device-width: 768px) and (orientation: portrait) {
  body {
    min-width: 320px;
  }
  article > * {
    width: calc(100% - 40px);
  }
  section h1,
  section p {
    width: calc(100% - 40px);
    margin: 20px auto;
  }
  section {
    flex-direction: column;
  }
  section img {
    margin: 0;
  }
  section:nth-of-type(2) {
    flex-direction: column-reverse;
  }
  section:nth-of-type(3) {
    height: auto;
  }
  .buttons {
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 20px;
  }
  .end_header,
  .end_paragraph {
    width: calc(100% - 40px);
  }
  section > div {
    width: 100%;
  }
}

/* адаптив для планшета, горизонтальный поворот */
@media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .sidebar {
    display: none;
  }
}
@media screen and (max-width: 1279px) {
  .index-item {
    width: 740px;
  }
}
@media screen and (max-width: 767px) and (orientation: portrait) {
  body {
    background: white;
  }
  .index-item {
    width: 100%;
    box-shadow: none;
    border: none;
  }
  .index-item img {
    height: 100%;
  }
}
